<header class="header">
  <section style="display: flex;
    justify-content: space-around;
    align-items: center;
        height: 24vh;">
    <img class="center" src="../assets/headerIcon.png">
  </section>
  <section style="display: flex;
    justify-content: space-around;
    align-items: center;">
    <h3 class="creepster-regular">Haunted By History, alive by fear
    </h3>
    </section>
    <section style="display: flex;
    justify-content: space-around;
    align-items: center;margin-top: -3vh;">
    <p>Contact info: (270)401-2176<br>
      hours: 8pm - 1am
    </p>
  </section>
</header>
<video id="background-video" autoplay loop muted>
  <source src="../../assets/hauntedForest.mp4" type="video/mp4">
</video>




<router-outlet />
