@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

header {
  background-color: #666;
  padding: 10px;
  text-align: left;
  font-size: x-large;
  color: white;
  height: 10rem;
  margin: 5px;
  position: fixed;
  opacity: 90%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(000, 000, 000, .5);
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}


