
<section>
  <div class="spookyCard creepster-regular ">
    <article class="storySpooky">
      <h3>
        Our story
      </h3>
      <span>Hallow Creek was a town that set at the north tip of Hardin County, on the south side of present day West Point, KY.</span>
      <span>The old town was all but forgotten and started to fall into disrepair, allowing the earth to take back the town.</span>
      <span>Stories and rumors started to emerge about strange and dark events happening in the old Hallow Creek, things so bizarre and so macabre that it has been forever dubbed as DARK HALLOW CREEK.</span>
      <span>Most swear the events are true, others say it’s old wives’ tales. The current owners of the property have tried to bring Dark Hallow Creek back to its former glory but to no avail.</span>
      <span>The dark and mysterious have taken the town as its own.
        Do you dare to come see if the rumors are true? Will you survive DARK HALLOW CREEK?</span>
      <span>Before West Point was established Hallow Creek was a thriving town.</span>
      <span>As time progressed and present day West Point was built, most businesses and people moved there from Hallow Creek.</span>
    </article>
  </div>
  <div style="margin-left: 18rem;" class="spookyCard creepster-regular" style="width: 25rem; margin-left: 18rem; height: 19rem;">
   <article class="storySpooky">
        <h3>Trail Openings</h3>
        <span> September 27, 28 </span>
        <span> October 4, 5, 11, 12, 18, 19, 25, 26 </span>
        <h4>Tickets</h4>
        <span>General Admission tickets $25.00</span>
        <span>Parking  is Free on site</span>

        <span>Additional ticket options such as fast </span>
        <span>and front of the line passes are offered at the box office.</span>
    </article>
  </div>
</section>
