
section {
  display: -webkit-flex;
  display: flex;
}


.spookyCard {
  margin-top: 13rem;
  border: 1px solid black;
  background-color: grey;
  margin-left: 1rem;
  opacity: 60%;
  width: 30rem;
  display: flex;
  padding: 1rem;
}

.storySpooky{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .4rem;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}
